@model S1.Models.Autor

@{
    ViewBag.Title = "Detale_Autora";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Detale_Autora</h2>

<fieldset>
    <legend>Autor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Imie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nazwisko)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nazwisko)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Data_ur)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Data_ur)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit_A", new { id_a=Model.Id_A }) |
    @Html.ActionLink("Back to List", "Index")
</p>
